<nav class="navbar fixed-bottom navbar-expand-sm" style="background-color: rgb(220, 220, 220);">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
        <img class="card-img-top rounded-circle" src="/img/Logo_Comuneros.png" alt="Logo" style="width: 40px; heigth: 40px; display:block">
    </a>
    <div class="derechos-autor" style="color: black">© 2024 C.C. Comuneros</div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavF">
      <ul class="navbar-nav" style="margin-left: auto;">
        <li class="nav-item">
          <a class="nav-link"  href="https://web.facebook.com/LosComunerosOficial/?_rdc=1&_rdr" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-instagram"></i></a>
        </li>       
      </ul>
    </div>
  </div>
</nav>

