<nav aria-label="Page navigation example  ">
  <ul class="pagination ">
    <li class="page-item"><a class="page-link text-secondary" href="/central/list">1</a></li>
    <li class="page-item"><a class="page-link text-secondary" href="/central/list-page-2">2</a></li>
    <li class="page-item"><a class="page-link text-secondary" href="/central/list-page-3">3</a></li>   
    <li class="page-item"><a class="page-link text-secondary" href="/central/list-page-4">5</a></li>   
    <li class="page-item"><a class="page-link text-secondary" href="/central/list-page-5">4</a></li>   
  </ul>
</nav>