<nav aria-label="Page navigation example  ">
  <ul class="pagination ">
    <li class="page-item"><a class="page-link text-secondary" href="/central/listExt">1</a></li>
    <li class="page-item"><a class="page-link text-secondary" href="/central/list-pageExt-2">2</a></li>
    <li class="page-item"><a class="page-link text-secondary" href="/central/list-pageExt-3">3</a></li>   
    <li class="page-item"><a class="page-link text-secondary" href="/central/list-pageExt-4">4</a></li>   
    <li class="page-item"><a class="page-link text-secondary" href="/central/list-pageExt-5">5</a></li>   
  </ul>
</nav>